/*!
  Bentobox spring theme
*/
body {
  border-top: solid 5px #50C202; }

body {
  background-color: #E7F1F5;
  background-repeat: no-repeat; }

#bentobox {
  fill: #00AAE6; }

a {
  color: #5799B1; }

a:hover {
  color: #00AAE6; }

.top-bar a {
  color: #5799B1; }

.panel h2 {
  color: #50C202; }

.panel h2.is-highlighted {
  color: #F87900; }
