/*!
  Bentobox purple ease theme
*/
body {
  background-color: #843B62;
  background-repeat: no-repeat; }

#bentobox {
  fill: #FFB997; }

a {
  color: #0B032D; }

a:hover {
  color: #F67E7D; }

.top-bar a {
  color: #0B032D; }

.panel h2 {
  color: #F67E7D; }

.panel h2.is-highlighted {
  color: #FFB997; }
