/*!
  Bentobox retro neon theme
*/
body {
  background-color: #06232d;
  background-repeat: no-repeat; }

#bentobox {
  fill: #247089; }

a {
  color: #629eb2; }

a:hover {
  color: #cb72bc; }

.top-bar a {
  color: #629eb2; }

.panel h2 {
  color: #247089; }

.panel h2.is-highlighted {
  color: #cb72bc; }
