/*!
  Bentobox pink-party theme
*/
body {
  border-top: solid 5px #FF217C; }

body {
  background-color: #231d34;
  background-repeat: no-repeat; }

#bentobox {
  fill: #FF217C; }

a {
  color: #5a5667; }

a:hover {
  color: #FD78D6; }

.top-bar a {
  color: #5a5667; }

.panel h2 {
  color: #FD78D6; }

.panel h2.is-highlighted {
  color: #FF217C; }
