/*!
  Bentobox chocolate theme
*/
body {
  background-color: #534B52;
  background-repeat: no-repeat; }

#bentobox {
  fill: #F1F0EA; }

a {
  color: #2D232E; }

a:hover {
  color: #E0DDCF; }

.top-bar a {
  color: #2D232E; }

.panel h2 {
  color: #98958A; }

.panel h2.is-highlighted {
  color: #FFD00C; }
