/*!
  Bentobox glow stick theme
*/

$background-color: #464749;
$logo-color: #B8D310;
$link-color: #989A9F;
$link-hover-color: #B8D310;
$heading-color: #B1B1B1;
$heading-highlight-color: #FFFFFF;

body {
  background-image: linear-gradient(to left top, #546373, #475463, #3a4552, #2e3743, #222a34);
  background-attachment: fixed;
  box-shadow:inset 0px 5px 0px 0px #B8D310;
}

//
//  import the scss to apply this
//
@import "theme-selectors";
