/*!
  Bentobox chocolate theme
*/

$background-color: #534B52;
$logo-color: #F1F0EA;
$link-color: #2D232E;
$link-hover-color: #E0DDCF;
$heading-color: #98958A;
$heading-highlight-color: #FFD00C;

//
//  import the scss to apply this
//
@import "theme-selectors";
