/*!
  Bentobox strawberry theme
*/

$background-color: #F04F4C;
$logo-color: #782726;
$link-color: #782726;
$link-hover-color: #F9F9F9;
$heading-color: #A83635;
$heading-highlight-color: #FF9393;

//
//  import the scss to apply this
//
@import "theme-selectors";
