/*!
  DuoTone - dark sea
  Roughly based on the Atom color scheme with the same name
  original by Simurai
  http://simurai.com/projects/2016/01/01/duotone-themes
*/
$syntax-uno: 212;
$syntax-duo: 160;

$duo-1: hsl($syntax-duo, 99%, 70%);
$duo-2: hsl($syntax-duo, 72%, 48%);
$duo-3: hsl($syntax-duo, 12%, 32%);

$uno-1: hsl($syntax-uno, 99%, 92%);
$uno-2: hsl($syntax-uno, 88%, 77%);
$uno-3: hsl($syntax-uno, 24%, 54%);
$uno-4: hsl($syntax-uno, 12%, 38%);

$syntax-bg: hsl($syntax-uno, 24%, 15%);

$background-color: $syntax-bg;
$link-color: $uno-3;
$link-hover-color: $duo-2;
$heading-color: $uno-2;
$top-label-color: $link-hover-color;
$highlighted-color: $link-hover-color;

//
//  import the scss to apply this
//
@import "theme-selectors";
