/*!
  Bentobox glow stick theme
*/

$background-color: #464749;
$logo-color: #B8D310;
$link-color: #989A9F;
$link-hover-color: #B8D310;
$heading-color: #B1B1B1;
$heading-highlight-color: #FFFFFF;

//
//  import the scss to apply this
//
@import "theme-selectors";
