/*!
  Bentobox spring theme
*/

$background-color: #F0F1F2;//#F1F2F0;
$logo-color: #7FAD16;
$link-color: #4F4B35;
$link-hover-color: #C80418;
$heading-color: #059FA3;
$heading-highlight-color: #D05410;

body {
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(-180deg, #F6FAFC 0%, #EBECEC 100%);
}
//
//  import the scss to apply this
//
@import "theme-selectors";
