/*!
  Bentobox lakeshore theme
*/

$background-color: #77CDCF;
$logo-color: #F0F8FE;
$link-color: #3A3E4A;
$link-hover-color: #F0F8FE;
$heading-color: #1D8A8C;
$heading-highlight-color: #F0F8FE;

body {
    box-shadow:inset 0px 10px 0px 0px #F7DB08;
}

//
//  import the scss to apply this
//
@import "theme-selectors";
