/*!
  Bentobox sunset theme
*/

$background-color: #FDBD13;
$logo-color: #207C6D;
$link-color: #442F34;
$link-hover-color: #D85F13;
$heading-color: #D53D2A;
$heading-highlight-color: #207C6D;

body {
  box-shadow:
        0  -15px 0 #FDBD13,
        0 -20px 0 #EE772D,
        0 -25px 0 #D53D2A,
        0 -30px 0 #442F34;
}
//
//  import the scss to apply this
//
@import "theme-selectors";
