/*!
  Bentobox candytheme
*/

$background-color: #33233D;
$logo-color: #F38B34;
$link-color: #EE602A;
$link-hover-color: #E81E26;
$heading-color: #FFCF06;
$heading-highlight-color: #ED0B6F;

//
//  import the scss to apply this
//
@import "theme-selectors";
