/*!
  Bentobox spring theme
*/

$background-color: #E7F1F5;
$logo-color: #00AAE6;
$link-color: #5799B1;
$link-hover-color: #00AAE6;
$heading-color: #50C202;
$heading-highlight-color: #F87900;

body {
  border-top: solid 5px #50C202;
}
//
//  import the scss to apply this
//
@import "theme-selectors";
