/*!
  Bentobox summer night theme
*/

$background-color: #333949;
$logo-color: #C8CF07;
$link-color: #C7C5DA;
$link-hover-color: #C8CF07;
$heading-color: #73E9F4;
$heading-highlight-color: #E15A68;

//
//  import the scss to apply this
//
@import "theme-selectors";
