/*!
  Bentobox purple ease theme
*/

$background-color: #843B62;
$logo-color: #FFB997;
$link-color: #0B032D;
$link-hover-color: #F67E7D;
$heading-color: #F67E7D;
$heading-highlight-color: #FFB997;

//
//  import the scss to apply this
//
@import "theme-selectors";
