/*!
  Bentobox lunch theme
*/

$background-color: #EEEDE9;
$logo-color: #3B2F93;
$link-color: #3B2F93;
$link-hover-color: #FF4A6D;
$heading-color: #8983B1;
$heading-highlight-color: #FF4A6D;

//
//  import the scss to apply this
//
@import "theme-selectors";
