//
// font settings - Roboto
//

// @font-face {
//     font-family: 'roboto_condensedregular';
//     src:  url('assets/fonts/RobotoCondensed-Regular-webfont.eot');
//     src:  url('assets/fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
//           url('assets/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
//           url('assets/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
//           url('assets/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
// $font-family-sans-serif: "roboto_condensedregular", "Helvetica Neue", sans-serif;
// $font-size: 1.125rem;
// $baseline: 1.875rem; 

//
//  font settings - System default
//
//$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;

//
//  alternative
//
// @font-face {
//   font-family: system;
//   font-style: normal;
//   font-weight: 400;
//   src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
// }
$font-family-sans-serif: 'selectedfont';

//$font-size: 1.0rem;
$baseline: 1.875rem;
$letter-spacing: 0.4px;

//
//  basic settings
//
$vertical-margin: $baseline;
$horizontal-margin: $baseline*1.5;
$hover-shift: 0.25rem;
$hover-time: 0.2s;
$hover-easing: cubic-bezier(0.645, 0.045, 0.355, 1);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  font-family: $font-family-sans-serif;
}

body {
  //font-size: $font-size;
  font-weight: normal;
  font-style: normal;
  letter-spacing: $letter-spacing;
  line-height: $baseline;
  margin: 0;
  padding:0;
}

h1,
p {
  margin: 0 0 1em 0;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  padding: 1.5*$baseline;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(20px, auto);
}

.wrapper > * {
    margin: 0;
}

.panel {
  padding-bottom: $vertical-margin;
}

.header,
.footer {
  grid-column: 1 / -1;
}

#logo {
  height:100%;
}

#logo-container{
  height:$baseline*0.9;
}

a {
  text-decoration: none;
  transition: all $hover-time $hover-easing;
}

.top-bar {
  height:$baseline*2;

  a {
    position: relative;
    display: inline-block;
  }
}

.top-panel {
  height:$baseline*2;
  ul {
    margin:0;
    padding:0;
  }

  ul>li {
    margin:0 1.25rem 0 0;
    padding:0;
    display:inline;
    transition: all 0.2s ease-in-out;

    &:hover {
      margin:0 (1.25rem - $hover-shift) 0 $hover-shift;
    }

    &:nth-last-child(2) {
      margin:0;
    }

    &:nth-last-child(2):hover {
      margin:0 -1*$hover-shift 0 $hover-shift;
    }
  }
}

.panel {
  h2 {
    padding:0;
    margin:0;
    //font-size: $font-size;
    font-weight: normal;
    font-style: normal;
    line-height: $baseline;
  }

  ul {
    list-style: none;
    padding:0;
    margin:0;
  }

  ul>li {
    margin:0;
    padding:0;
  }

  ul>li>a:hover {
    padding-left: $hover-shift;
  }
}

.edit-link {
  visibility: hidden;
  margin-left: 0.625rem;
}

h2:hover .edit-link, .top-panel>ul:hover .edit-link {
  visibility:visible;
}

