*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.875rem;
  margin: 0;
  padding: 0; }

h1,
p {
  margin: 0 0 1em 0; }

.wrapper {
  display: grid;
  margin: 0 auto;
  padding: 2.8125rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(20px, auto); }

.wrapper > * {
  margin: 0; }

.panel {
  padding-bottom: 1.875rem; }

.header,
.footer {
  grid-column: 1 / -1; }

#logo {
  height: 100%; }

#logo-container {
  height: 1.6875rem; }

a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.top-bar {
  height: 3.75rem; }
  .top-bar a {
    position: relative;
    display: inline-block; }

.top-panel {
  height: 3.75rem; }
  .top-panel ul {
    margin: 0;
    padding: 0; }
  .top-panel ul > li {
    margin: 0 1.25rem 0 0;
    padding: 0;
    display: inline;
    transition: all 0.2s ease-in-out; }
    .top-panel ul > li:hover {
      margin: 0 0.95rem 0 0.3rem; }
    .top-panel ul > li:nth-last-child(2) {
      margin: 0; }
    .top-panel ul > li:nth-last-child(2):hover {
      margin: 0 -0.3rem 0 0.3rem; }

.panel h2 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.875rem; }

.panel ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.panel ul > li {
  margin: 0;
  padding: 0; }

.panel ul > li > a:hover {
  padding-left: 0.3rem; }

.edit-link {
  visibility: hidden;
  margin-left: 0.625rem; }

h2:hover .edit-link, .top-panel > ul:hover .edit-link {
  visibility: visible; }
